### Q1. Create a list of five integers and print it.

In [ ]:
s= [1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [5]:
d=len(s)
d

5

### Q3. Create a tuple with three elements and print the second item.

In [6]:
t =(1,2,3)
print(t[1])

2

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [9]:
y ={"esmail":24,"ed":12,"mh":18}
print(y.keys())

dict_keys(['esmail', 'ed', 'mh'])

### Q5. Write a program to convert a list into a set.

In [10]:
f=[1,2,3,4,5]
ms=set(f)
ms

{1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [12]:
string = "Esmail Mamdooh"
print(string[0])
print(string[-1])

E
h

### Q7. Take input from the user and print it.

In [11]:
f1=input("Enter your name: ")
print("Hello " +f1)

Hello esmail

### Q8. Write a program to add two numbers entered by the user.

In [13]:
s=int(input("add number 1"))
l=int(input("add number 2"))
print(s+l)

7

### Q9. Use `type()` function to check the data type of a variable.

In [1]:
x = 10
y = "Hello"
z = 3.14
e = True

print(type(x))
print(type(y))
print(type(z))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

### Q10. Create a boolean variable and print it.

In [2]:
x = True
y = False

print(x)
print(y)

True
False

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [3]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("The number is zero")

The number is positive

### Q12. Write a program to check if a number is even or odd.

In [4]:
number = int(input("Enter an integer: "))

if number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

9 is odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [5]:
name = input("Enter your name: ")

for i in range(3):
    print(name)

esmail
esmail
esmail

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [6]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [7]:
fruits = ["apple", "banana", "orange", "grape"]
for fruit in fruits:
    print(fruit)

apple
banana
orange
grape

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [8]:
total = 0
for num in range(1, 101):
    total += num

print(total)

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [9]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [10]:
text = "Esmail"
for char in text:
    print(char)

E
s
m
a
i
l

### Q19. Use a `for` loop to print all values in a dictionary.

In [11]:
my_dict = {'name': 'Ali', 'age': 25, 'city': 'Cairo'}
for value in my_dict.values():
    print(value)

Ali
25
Cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [12]:
num = 5
factorial = 1
for i in range(1, num+1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

### Q21. Create a list of your 5 favorite fruits.

In [13]:
favorite_fruits = ['apple', 'banana', 'orange', 'mango', 'strawberry']
print(favorite_fruits)

['apple', 'banana', 'orange', 'mango', 'strawberry']

### Q22. Add a new fruit to your list of favorite fruits.

In [14]:

favorite_fruits.append('grape')
print(favorite_fruits)

['apple', 'banana', 'orange', 'mango', 'strawberry', 'grape']

### Q23. Remove the second item from a list.

In [15]:

favorite_fruits.pop(1) 
print(favorite_fruits)

['apple', 'orange', 'mango', 'strawberry', 'grape']

### Q24. Sort a list of numbers in descending order.

In [16]:
numbers = [5, 2, 8, 1, 9]
numbers.sort(reverse=True)
print(numbers)

[9, 8, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [17]:

print("Max:", max(numbers))
print("Min:", min(numbers))

Max: 9
Min: 1

### Q26. Count how many times a value appears in a list.

In [18]:

count = numbers.count(2)
print(count)

1

### Q27. Check if a specific value exists in a list.

In [19]:

if 2 in numbers:
    print("found")

found

### Q28. Reverse a list without using reverse() function.

In [20]:

reversed_list = numbers[::-1]
print(reversed_list)

[1, 2, 5, 8, 9]

### Q29. Make a copy of a list and modify the copy only.

In [21]:
original = [1, 2, 3]
copy = original.copy()
copy.append(4)
print(copy)

[1, 2, 3, 4]

### Q30. Use slicing to get the first 3 items of a list.

In [22]:
favorite_fruits = ['apple', 'banana', 'orange', 'mango', 'strawberry']
first_three = favorite_fruits[:3]
print(first_three)

['apple', 'banana', 'orange']

### Q31. Create a tuple with 4 elements and print its length.

In [23]:
my_tuple = (1, 'a', 3.14, True)
print("Length:", len(my_tuple))

Length: 4

### Q32. Access the last element of a tuple.

In [24]:

last_element = my_tuple[-1]
print(last_element)

True

### Q33. Convert a tuple into a list.

In [25]:

tuple_to_list = list(my_tuple)
print(tuple_to_list)

[1, 'a', 3.14, True]

### Q34. Convert a list into a tuple.

In [26]:
list = [1, 'a', 3.14, True]
list_to_tuple = tuple(list)
print(list_to_tuple)

(1, 'a', 3.14, True)

### Q35. Check if a value exists in a tuple.

In [27]:

if 'a' in my_tuple:
    print("Found")

Found

### Q36. Concatenate two tuples.

In [28]:

combined = my_tuple + (5, 6)
print(combined)

(1, 'a', 3.14, True, 5, 6)

### Q37. Repeat a tuple 3 times.

In [29]:

repeated = my_tuple * 3
print(repeated)

(1, 'a', 3.14, True, 1, 'a', 3.14, True, 1, 'a', 3.14, True)

### Q38. Find the index of an element in a tuple.

In [30]:

index = my_tuple.index(3.14)
print(index)

2

### Q39. Use tuple unpacking to assign values to variables.

In [31]:
values = my_tuple
print(values)

(1, 'a', 3.14, True)

### Q40. Create a nested list and access an inner element.

In [32]:
nested = [[1, 2], [3, 4], [5, 6]]
inner_element = nested[1][0] 
print(inner_element)

3

### Q41. Create a set of 5 unique colors.

In [33]:
colors = {'red', 'green', 'blue', 'yellow', 'black'}

### Q42. Add a new color to the set.

In [34]:
colors.add('white')
print(colors)

{'blue', 'white', 'red', 'black', 'yellow', 'green'}

### Q43. Remove an item from the set using `remove()`.

In [35]:
colors.remove('green') 
print(colors)

{'blue', 'white', 'red', 'black', 'yellow'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [36]:
colors.discard('pink') 
print(colors)

{'blue', 'white', 'red', 'black', 'yellow'}

### Q45. Create a set from a list with duplicate values.

In [37]:
duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(duplicates)
print(unique_set)

{1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(unique_set)

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [39]:
intersection = set1 & set2
print(intersection)

{3}

### Q48. Find the difference between two sets.

In [40]:
difference = set1 - set2
print(difference)

{1, 2}

### Q49. Check if a set is a subset of another set.

In [41]:
is_subset = {1, 2}.issubset({1, 2, 3})
print(is_subset)

True

### Q50. Check if two sets are disjoint.

In [42]:
is_disjoint = set1.isdisjoint({4, 5, 6})
print(is_disjoint)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [43]:
person = {'name': 'Mohamed', 'age': 30, 'city': 'Alexandria'}
print(person)

{'name': 'Mohamed', 'age': 30, 'city': 'Alexandria'}

### Q52. Add a new key-value pair to the dictionary.

In [44]:
person['job'] = 'Engineer'
print(person)

{'name': 'Mohamed', 'age': 30, 'city': 'Alexandria', 'job': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [45]:
person['age'] = 31
print(person)

{'name': 'Mohamed', 'age': 31, 'city': 'Alexandria', 'job': 'Engineer'}

### Q54. Remove a key from the dictionary using `pop()`.

In [46]:
person.pop('city')
print(person)

{'name': 'Mohamed', 'age': 31, 'job': 'Engineer'}

### Q55. Check if a key exists in the dictionary.

In [47]:
if 'name' in person:
    print("Name exists")

Name exists

### Q56. Loop through a dictionary and print all keys and values.

In [48]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Mohamed
age: 31
job: Engineer

### Q57. Get all keys from a dictionary using `keys()`.

In [49]:
print(person.keys())

dict_keys(['name', 'age', 'job'])

### Q58. Get all values from a dictionary using `values()`.

In [50]:
print(person.values())

dict_values(['Mohamed', 31, 'Engineer'])

### Q59. Get all key-value pairs using `items()`.

In [51]:
print(person.items())

dict_items([('name', 'Mohamed'), ('age', 31), ('job', 'Engineer')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [52]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
new_dict = dict(zip(keys, values))
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}